//** Test **
.none {
  display: none;
}
.test {
  background-color: red;
  width: 100px;
  height: 100px;
  border: 1px solid black
}
//** Global **

//** Reset **
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
img {
  width: 100%;
  object-fit: cover;
}
.main {
  background-color: black;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  color: black;
  font-size: 3em;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  background-color: unset;
  aspoect-ratio: 1;
  border: 5px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover{
  background-color: white;
  color: black;
  //transform: scale(1.5);
  transform: translateX(10vw);
}

@keyframes move {
  0% { left: 0vw; } /* État initial */
  100% { left: 5vw; } /* État intermédiaire */
}

.btn:hover {
  animation-name: move; /* Nom de l'animation */
  animation-duration: 1s; /* Durée de l'animation */
  animation-timing-function: ease-in-out; /* Fonction de temporisation */
  animation-iteration-count: 1; /* Répétition infinie */
}

