//** Test **
.none {
  display: none;
}
.test {
  background-color: red;
  width: 100px;
  height: 100px;
  border: 1px solid black
}


//** Global **

//** Reset **
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
img {
  width: 100%;
  object-fit: cover;
}
.main {
  background-color: white;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  color: black;
  letter-spacing: 0.05em;
}

//****


/*
On mobile : body = background gold and only h2 Mobile appear

From 768px (tablet) : background = pink and only h2 Tablet apppear.

From 1280px (laptop 13') : background = chocolate and only h2 Laptop..  apppear.

From 1440px (laptop) : background = cadetblue and only h2 Laptop apppear.

From 1920px (desktop) : background = cornflowerblue and only  h2 Desktop apppear.

 */