<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated map</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>

    <div class="main">
        <article class="card">
            <img src="../img/img1.jpg" alt="smiling indan girl" class="thumbnails">
            <h5>Photos</h5>
            <h3>India</h3>
            <h4>An upcoming superpower</h4>
            <p>India is a vast South Asian country with diverse terrain - from Himalayan peaks to Indian Ocean coastline - and history reaching back 5 millennia.</p>
            <aside>
                <p>6 min ago</p>
                <p>39 comment</p>
            </aside>
        </article>
    </div>

</body>
</html>