* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", Arial sans-serif;
    background-color: #D74949;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.container {
    background-color: #F3F3F3;
    /*border: ;*/
    min-height: 205px;
    height: 89.91vh;
    /*max-height: 615px;*/
    min-width: 370px;
    width: 77.08%;
    /*max-width: 1110px;*/
    margin: auto;
    padding: 9.36%;
    padding:  3.47%;
}

.profile {
    margin-top:  6.18%;
    min-height: 100px;
    height: 48.78%;
    max-height: 300px;
    min-width: 66.67px;
    width:  18.02%;
    max-width: 200px;
    overflow: hidden;
    border-radius: 15px;
    background-color:#FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
h1 {
   font-size: 0.875rem;
    line-height: 1.025rem;
    font-weight: 300;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px black;
}
h2 {
    font-size: 1rem;
    line-height: 1.172rem;
    font-weight: 900;
    letter-spacing: 7%;
    text-align: right;
}
p {
    font-size: 1.25rem;
    line-height: 1.465rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}
p span{
    color: #8F2727;
}



.profile .avatar {
    min-width: 66px;
    /*width: 33.33%;*/
    max-width: 200px;
}
.profile .logo {
    height: 18px;
    margin-top: 5%;
}

.info {
    padding: 10%;
    font-size: 0.875rem;
    line-height: 1.025rem;
    font-weight: 700;
}

.info h3 {
    letter-spacing: 4%;
}
.info h4 {
    font-weight: 300;

}

footer {
    background-color : #3A3A3A;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 23.33px;
    height: 10.23%;
    /*max-height: 70px;*/
    min-width: 100%;
    margin: auto;
    align-content: center;
    text-align: center;
}
footer p {
    display: block;
    font-size: 0.875rem;
    line-height: 1.025rem;
    color: #F3F3F3;
    text-transform: unset;
    font-weight: 700;
}