//* Animations *
@keyframes apparition {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

//* Général *
.main {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  letter-spacing: 0.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

//* Cartes *
.card{
  width: 300px;
  background-color: #F6F6F6;
  box-shadow: 0 5px 20px darkgray;
  border-radius: 5px;
  overflow: hidden;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 400px;
}
//** Image **
.figure {
  flex: 1;
  overflow: hidden;
  display: grid;
}
.img {
  grid-column: 1;
  grid-row : 1;
  width: 125%;
}

//** Icones **
.icon {
  background-color: #F15D51;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  color : #F6F6F6;
  font-weight : 100;
  font-size: 0.80rem;
}
.date {
    grid-column: 1;
    grid-row : 1;
    margin : 20px;
    height: 45px;
    aspect-ratio: 1/1;
    padding: 5px;
    border-radius: 100px;
    align-self: start;
    justify-self: end;

  p{
    text-align : center;

  }
}
.rectangle {
  width: fit-content;
  display : inline;
  padding: 3% 5%;
  position : relative;
  bottom : 25px;
  text-transform: uppercase;
}

//** Texte **
.content {
  flex: 1;
  .textExplication {
    display: none;
  }
}
.content:hover {
  flex: 2;
  .textExplication {
    display: inline;
  }
}


.text {
  display: flex;
  flex-direction: column;
  height: 80%;
  flex: 1;
  justify-content: space-between;
  align-items: center ;
  padding: 0 20px 0;

  * {
    width : 100%;
    background-color: #E9AA52;
  }
}

.textContent {
  h3 {
    font-weight: 200;
    text-transform: uppercase;
  }
  h4 {
    color: #F15D51;
    font-weight: 100;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
  }
}





//content:hover .textExplication {
//  width : 100%;
//  display : inline;
//}
//
//
//
//
//.textExplication {
//  animation: apparition 1s ease ; /* Applique l'animation sur le texte */
//  height: 0% /* Assure que le texte est invisible au début */
//}














.textDetails {
  display: flex;
  gap: 10px;

  *{
    display: inline-flex;
    gap: 5px;
  }
}
.comment::before {
  content: ""; /* Ajoute un contenu généré */
  display: block; /* Pour que le contenu généré soit un élément bloc */
  width: 20px; /* Définir la largeur de l'image */
  height: 20px; /* Définir la hauteur de l'image */
  background-image: url('../img/comentIcon.svg'); /* Spécifier l'image de fond */
  background-size: cover; /* Ajuster la taille de l'image */
}
.time::before {
  content: ""; /* Ajoute un contenu généré */
  display: block; /* Pour que le contenu généré soit un élément bloc */
  width: 20px; /* Définir la largeur de l'image */
  height: 20px; /* Définir la hauteur de l'image */
  background-image: url('../img/timeIcon.svg'); /* Spécifier l'image de fond */
  background-size: cover; /* Ajuster la taille de l'image */
}



