<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnotherOne</title>
    <link rel="stylesheet" href="../style/anotherBis.css">

</head>
<body>
    <div class="main">
        <div class="test a"></div>
        <div class="test b"></div>
        <div class="test c"></div>
        <div class="test d"></div>
        <div class="test e"></div>
    </div>

<!--
Instead of a display: flex, use now a display grid.
Give the template columns two 1fr
For tablet give three 1fr
For laptops give six 1fr (think of the function repeat)

-->
</body>
</html>